.filter {
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 2em;
    padding: .25em .75em;
    border: 2px solid $berry;
    border-color: inherit;
    
    &-label {
        color: #fff;
    }

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        margin-top: 3em;
    }

    &-icon {
    }

    &-icon-wrapper {

    }


}