.filter {
    margin-left: .5em;
    margin-right: .5em;
    border-radius: 2em;
    padding: .25em .75em;
    border: 2px solid $berry;
    border-color: inherit;
    
    &-label {
        color: #fff;
    }

    &-wrapper {
        margin-bottom: 4em;
        margin-top: 3em;
        position: sticky;
        top: 35px;
        z-index: 10;
        text-align: center;
    }
    
    &-inner {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $dark-gray;
        border-radius: 2em;
        padding: 1em;
    }

    &-icon {
    }

    &-icon-wrapper {

    }


}