// .intro {
//     // margin-top: 120px;

//     &-image {
//         border-radius: 100%;
//         overflow: hidden;
//         display: inline-block;
//         transform: translateX(calc((50% + 2em) * -1));
//     }

//     &-image-container {
//     }

//     &-image--img {
//         display: block;
//         margin: 0;
//         transition: .3s all ease;

//         &:hover {
//             transform: rotate(180deg);
//             transition: .3s all ease;
//         }
//     }

//     &-desc-container {
//         margin-top: 3.5em;
//     }

//     &-desc {
//         background-color: $light-gray;
//         border-radius: 0 5px 5px 5px;
//         position: relative;
//         margin-top: 1em;
//         padding: 1em;

//         &:before {
//             content: '';
//             position: absolute;
//             left: 0;
//             bottom: 100%;
//             width: 0;
//             height: 0;
//             border-bottom: 2em solid $light-gray;
//             border-right: 2em solid transparent;
//         }
//     }
// }

.intro {
    align-self: flex-end;
    margin-top: -60px;
    &-scene {

        width: 200px;
        height: 270px;
        perspective: 600px;

        &:hover .intro-card-wrapper {
            transform: rotateY(180deg);
        }
    }

    &-card-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 1s ease;
        transform-style: preserve-3d;
    }
    
    &-card {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
        transition: .5s ease all;
        font-size: 11px;
        border-radius: 12px;
        overflow: hidden;
        padding: 1.5em;
        
        &--front {
            background: #fff;
        }

        &--back {
            background: #fff;
            transform: rotateY(180deg);
            padding: 2em;
        }

        &__head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: .5em;
        }

        &__name {
            flex: 0 0 auto;
            font-family: $montserrat;
            font-weight: 600;
            text-transform: uppercase;
        }

        &__lvl {
            flex: 0 0 auto;
            font-size: 10px;
        }

        &__back-inner {
            background-color: $berry;
            font-size: 10px;
            line-height: 12px;
            padding: 2em;
            border-radius: 8px;
            color: #fff;
        }

        &__image-container {
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 1em;
        }

        &__image {
            display: block;
        }

        &__details {
            font-size: 10px;
            p {
                strong {
                    display: block;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: $montserrat;
                }
            }
        }

        &__behind {
            background-color: $berry;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 1em;
            left: -1em;
            border-radius: 12px;
            z-index: -1;
        }
    }
}