html, body {
    font-size: 12px;
    font-family: $space-mono;
    height: 100%;
}

html {
    // background-color: $dark-gray;
    height: 100%;
    background-image: url('/images/grid-bk.png');
}

footer, .footer {
    color: #fff;
    font-size: .8em;
    margin-bottom: 60px;
}