.layout {
    display: flex;

    &-area {

    }

    &--sidebar {
        flex: 0 0 330px;
        // border: 2px solid pink;
        min-height: 100vh;
        padding: 2em;
    }

    &--main {
        flex: 1 1 auto;
        // border: 2px solid lightBlue;
    }   

    &-container {
        @extend %container;
        position: relative;
        // margin-top: 100px;
        padding-top: 60px;
        padding-left: 25px;
    }

    &-title {
        color: $dark-gray;
        -webkit-text-stroke: 1px $berry;
        // color: white;
        text-shadow:
        -1px -1px 0 $berry,  
        1px -1px 0 $berry,
        -1px 1px 0 $berry,
         1px 1px 0 $berry;
        font-weight: bold;
        font-size: 5em;
        font-family: $montserrat;
        text-transform: uppercase;
        transform-origin: 100% 0;
        transform: translateX(-100%) rotate(-90deg) translatey(-80%);
        transition: .3s ease all;
        display: inline-block;
        position: fixed;
        margin-top: -50px;
    }
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: fixed;
    width: 260px;
    height: calc(100vh - 4em);
}

#gooey-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}