// fonts
$montserrat: 'montserrat';
$space-mono: 'space mono';

// colors
$berry: #FF0062;
$melon: #22FFF7;
$dark-gray: #1C1C1C;
$light-gray: #EAEAEA;
$medium-gray: #A7A7A7;

// border radius
$border-radius: 8px;

